<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
</head>
<body>
  <div>
    <h1>Webgl 2</h1>
  </div>
  <div>
    <nav>
      <a href={{ "/docs/vectors/" | relative_url }}>Vectors</a>
      <a href={{ "/docs/matrices/" | relative_url }}>Martrices</a>
      <a href="./clock/">Clock</a>
    </nav>
  </div>
  <div>
    {{  content }}
  </div>
</body>
</html>